<div id="<%= dom_id amenity %>">
  <p>
    <strong>Name:</strong>
    <%= amenity.name %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= amenity.width %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= amenity.length %>
  </p>

  <p>
    <strong>Concurrent:</strong>
    <%= amenity.concurrent %>
  </p>

</div>
