<%= form_with(model: amenity) do |form| %>
  <% if amenity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(amenity.errors.count, "error") %> prohibited this amenity from being saved:</h2>

      <ul>
        <% amenity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :width, style: "display: block" %>
    <%= form.text_field :width %>
  </div>

  <div>
    <%= form.label :length, style: "display: block" %>
    <%= form.text_field :length %>
  </div>

  <div>
    <%= form.label :concurrent, style: "display: block" %>
    <%= form.number_field :concurrent %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
