<p style="color: green"><%= notice %></p>

<div>
  <p><strong>Name:</strong> <%= @amenity.name %></p>
  <p><strong>Width:</strong> <%= @amenity.width %></p>
  <p><strong>Length:</strong> <%= @amenity.length %></p>
  <p><strong>Area:</strong> <%= @amenity.area %></p>
  <p><strong>Concurrent:</strong> <%= @amenity.concurrent %></p>
  <p><strong>Padding:</strong> <%= @amenity.padding %></p>
  <p><strong>Property:</strong> <%= @amenity.property %></p>
  <p><strong>Max Buildable:</strong> <%= @amenity.max_buildable %></p>
</div>

<div>
  <%= link_to "Edit this amenity", edit_amenity_path(@amenity) %> |
  <%= link_to "Back to amenities", amenities_path %>
  <%= button_to "Destroy this amenity", @amenity, method: :delete %>
</div>
